@import url('https//fonts.googleapis.com/css2?family=poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #ffffff;
    --second-bg-color: #009fe5;
    --text-color: #000000;
    --main-color: #0073a5;
}

html {
    font-size: 50.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
    /* background-image: url('images/homepage.jpg'); */
    background-size: cover;
    background-position: center;
}

section {
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    min-height: 100;
    padding: 2rem 2% 2rem;
    margin-left: 20%;
    margin-top: 150px;
    width: 50vw;
    height: 36vw;
    color: var(--second-bg-color);
    box-shadow: 0 0 10rem var(--main-color);
    display: flex;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index:100;
}


.home {
     display: inline-block;
     justify-content: center;
     align-items: center;
     font-weight: 600;
     transition: .5s ease;
     height: 47%;
     width: 70%;
}

.home-content {
    color: var(--text-color);
}

.home-content h3 {
    font-size: 2.2rem;
    font-weight: 400;
    color: #ff0000 ;
    font-family: Bradley Hand ITC;

}

.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
}

span {
    color: var(--main-color)
}

.home-content h1 {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.3;
}

/* form style */
.registration label {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  /* .registration label input[type="text"],
  .registration label input[type="number"],
  .registration label input[type="email"],
  .registration label input[type="radio"],
  .registration label input[type="button"] {
    order: -1;
    margin-right: 10px;
  }
   */
  .myform {
    /* padding: 20px; */
    background-color: #f5f5f5;
    border-radius: 5px;
    width: 70%;
    display: inline-block;
  }
  
  .myform label {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 15px;
  }
  
  .myform input[type="text"],
  .myform input[type="number"],
  .myform input[type="email"],
  .myform input[type="radio"],
  .myform input[type="button"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 15px;

  }
  
  .myform input[type="button"] {
    background-color: #3a5caa;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .myform input[type="button"]:hover {
    background-color: #2c4899;
  }
  /* ends */

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.social-media a:hover {
    background: var(--main-color);
    color: var(--bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

#back {
    margin-left: 10px;
    display: flex;
    width: 100%;
}

#back a {
    display: inline-block;
    /* justify-content: center;
    align-items: center; */
    width: 10rem;
    height: 3rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 1rem;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
    margin-left: 57%;

}

#back a:hover {
    background: var(--main-color);
    color: var(--bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

/* .Proceed {
    margin-left: 85%;
    display: flex;
    display: none;
}
 
#messageBox {
    width: 300px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
  }

  .buttons {
    margin-top: 10px;
  }

.Proceed a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 1rem;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;

}

.Proceed a:hover {
    background: var(--main-color);
    color: var(--bg-color);
    box-shadow: 0 0 1rem var(--main-color);
} */


#messageBox {
    width: 300px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    margin-left: 77%;
  }
  
  .Proceed {
    margin-left: 85%;
    display: none;
  }
  
  .buttons {
    margin-top: 10px;
  }
  
  button {
    padding: 10px 20px;
    margin: 0 5px;
  }

  #openMessageBoxButton{
    margin-left: 85%;
    display: flex;
  }




hr {
    border: 3px;
}


  /* lost styles */
  .divider {
    position: relative;
    width: 100%;
    border: 1px solid var(--main-color);
    transform: translateY(-50%);
  }

h1  {
    font-size: 20px;
    margin-top: 20px;
  }

.cancels {
    display:flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;

  }

  .cancels i {
    font-size: 30px;
    color: var(--main-color);
   
  } 

  .cancels a:hover {
    background:#df0b0b;
    color: var(--bg-color);
    box-shadow: #df0b0b;
  }

  .cancels span {
  font-size: 18px;
  color: var(--main-color);
  }


  /* Upload css style */

  .uploading {
    /* position: fixed; */
    margin-left:65px;
    margin-bottom: 20px;
  }
  .box {
    margin-left: 47%;
    margin-top: 50px;
    position: absolute;
    /* display: flex; */
    max-width: 300px;
    background: var(--bg-color);
    padding: 20px;
    width: 50%;
    border: 3px solid #3a5caa;
    border-radius: 5px;
    /* flex-direction: column; */
    justify-content: center;
  }
  
  .upload-area-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: 600;
  }
  
  .uploadlabel {
    width: 100%;
    min-height: 100px;
    background: rgba(24, 167, 255, 0.13);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px dashed rgba(24, 167, 255, 0.51);
    cursor: pointer;
  }
  
  .uploadlabel span {
    font-size: 70px;
    color: #009dff;
  }
  
  .uploadlabel p {
    color: #009dff;
    font-family: cursive;
    font-size: 16px;
    font-weight: 800;
  }
  
  .uploaded {
    margin: 30px 0;
    font-size: 16px;
    font-weight: 700;
    color: #a5a5a5;
  }
  
  .showfilebox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    padding: 10px 15px;
    box-shadow: 0 0 13px rgba(0, 0, 0, 0.13), 0 0 13px rgba(209, 213, 219, 0.24) inset;
  }
  
  .showfilebox .left {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .filetype {
    background: #18a7ff;
    color: #fff;
    padding: 5px 15px;
    font-size: 15px;
    text-transform: capitalize;
    font-weight: 700;
    border-radius: 3px;
  }
  
  .left h3 {
    font-weight: 600;
    font-size: 18px;
    color: #1ae781;
    margin: 0;
    justify-content: center;
  }
  
  .right span {
    background: #18a7ff;
    color: #fff;
    width: 25px;
    height: 25px;
    font-size: 20px;
    line-height: 25px;
    display: inline-block;
    text-align: center;
    font-weight: 700;
    cursor: pointer;
    border-radius: 50%;
  }
  /*end  */
